body {
    font-family: Calibri, Arial, sans-serif;
    line-height: 1;
}

#questionWrapper, #result-wrapper, #header, #help, #misc {
    padding: 20px;
    background-color: #EEE;
    margin-bottom: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
}

#header {
    background-color: #333;
    background-image: -moz-linear-gradient(top, #333, #555);
    background-image: -webkit-linear-gradient(top, #333, #555);
    background-image: linear-gradient(top, #333, #555);
    box-shadow: 0 0 3px #333;
    border: 1px solid #222;
}

h1 {
    color: white;
}

textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    font-family: Calibri, Arial, sans-serif;
    font-size: 100%;
    resize: vertical;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 12px;
}

button, a {
    margin-left: 20px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 10px 12px;
    text-decoration: none;
}

button {
     margin-left: 0;
     background-color: #90EE90;
     border: 1px solid #8FBC8F;
     cursor: pointer;
     width: 100%;
}

button:hover {
    background-color: #3CB371;
    color: white;
}
